body{
    background-color: #212529;
   
}
img{
    height: 250px;
    width: 350px;
}

h1{
   
    color: #ffc107;
    text-align: center;
    margin-top: 30px;
}

.col-md-6{
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

b{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffc107;
}

iframe{
    border-radius: 10px;
    border: 5px solid #ffc107;
}